* {
	padding: 0;
	margin: 0;
}

.recipe {
	position: relative;
	top: 1rem;
	margin-left: 2em;
}

.recipe  li{
	margin-left: 2em;
}

.recipeImg{
	width: 50%;
	height: auto;
	display: block;
	margin: 1em 0em;
}

.recipe >p, p>a{
	padding-right: 20%;
}
